rest-model/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CustomersDTO" type="CustomersDTOType"/>
    <xs:complexType name="metaType">
        <xs:sequence>
            <xs:element type="xs:byte" name="count"/>
            <xs:element type="xs:byte" name="limite"/>
            <xs:element type="xs:byte" name="page"/>
            <xs:element type="xs:string" name="previousUrl"/>
            <xs:element type="xs:string" name="nextUrl"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="customersType">
        <xs:sequence>
            <xs:element type="metaType" name="meta" minOccurs="0"/>
            <xs:element type="xs:string" name="firstname" minOccurs="0"/>
            <xs:element type="xs:string" name="lastname" minOccurs="0"/>
            <xs:element type="xs:string" name="customer_url" minOccurs="0"/>
            <xs:element type="customersType" name="customers" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomersDTOType">
        <xs:sequence>
            <xs:element type="customersType" name="customers"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>